                <div class="cards-select">
                    <div class="selection-card">
                        <a href="create-post.html">
                            <h3>Basic Post</h3>
                            <p>
                                 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.
                            </p>
                        </a>
                    </div>
                    <div class="selection-card">
                        <a href="create-post.html">
                            <h3>Hospital Status</h3>
                            <p>
                                 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.
                            </p>
                        </a>
                    </div>
                    <div class="selection-card">
                        <a href="create-post.html">
                            <h3>Available Volunteers</h3>
                            <p>
                                 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.
                            </p>
                        </a>
                    </div>
                    <div class="selection-card">
                        <a href="create-post.html">
                            <h3>Unsafe Roads</h3>
                            <p>
                                 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.
                            </p>
                        </a>
                    </div>
                    <div class="selection-card">
                        <a href="create-post.html">
                            <h3>Relief Aid</h3>
                            <p>
                                 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.
                            </p>
                        </a>
                    </div>

                    
                    
                </div><!--end cards select-->