<!-- >
<footer>
    <div class="wrapper">
        <div class="footer-container">
            <div class="footer-main-col">
                <h2>Ushahidi Documentation</h2>
                <p>Comments</p>
                <ul class="footer-nav">
                    <li><a href="home-map.html">Home</a></li>
                    <li><a href="layout-a.html">About</a></li>
                    <li><a href="activity.html">Guide</a></li>
                </ul>
            </div>
            <div class="footer-secondary-col">
                <button type="button" class="button-create">
                    <span>Add Comment</span>
                </button>
            </div>
        </div>
    </div>
</footer>
-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="/assets/js/app.js"/></script>