<!-- >
<footer>
    <div class="wrapper">
        <div class="footer-container">
            <div class="footer-main-col">
                <h2>Ushahidi Documentation</h2>
                <p>Comments</p>
                <ul class="footer-nav">
                    <li><a href="home-map.html">Home</a></li>
                    <li><a href="layout-a.html">About</a></li>
                    <li><a href="activity.html">Guide</a></li>
                </ul>
            </div>
            <div class="footer-secondary-col">
                <button type="button" class="button-create">
                    <span>Add Comment</span>
                </button>
            </div>
        </div>
    </div>
</footer>
-->

<footer>
    <div class="wrapper">
        <div class="footer-logo">
            <a href="http://ushahidi.com">
                <img src="http://github.ushahidi.org/dotcom-pattern-library/assets/img/ushahidi-wordmark.svg">
            </a>
        </div>
        <div>
            <ul class="main-footer-links">
                <li><a href="http://ushahidi.com/features">Features</a></li>
                <!--<li><a href="">Plans</a></li>-->
                <li><a href="http://ushahidi.com/about">About</a></li>
                <li><a href="http://ushahidi.com/support">Support</a></li>
                <li><a href="http://ushahidi.com/blog">Blog</a></li>
                <li><a href="http://ushahidi.com/other-products">Other Products</a></li>
                <li><a href="http://ushahidi.com/solutions">Solutions</a></li>
            </ul>
            <ul class="secondary-footer-links">    
                <li><a href="http://ushahidi.com/contact">Contact</a></li>
                <li><a href="https://github.com/ushahidi/platform">Download Code</a></li>
            </ul>
        </div>
        <a class="btn">Subscribe to our mailing list<a>
        <ul class="social-footer-links">
            <li><a href="https://www.facebook.com/ushahidi"><img src="http://github.ushahidi.org/dotcom-pattern-library/assets/img/social/fb.svg"></a></li>
            <li><a href="https://twitter.com/ushahidi"><img src="http://github.ushahidi.org/dotcom-pattern-library/assets/img/social/twitter.svg"></a></li>
            <li><a href="https://plus.google.com/105364701372360854381/about"><img src="http://github.ushahidi.org/dotcom-pattern-library/assets/img/social/google.svg"></a></li>
            <li><a href="http://www.meetup.com/ushahidi-community"><img src="http://github.ushahidi.org/dotcom-pattern-library/assets/img/social/meetup.svg"></a></li>
        </ul>
        <p class="small">
            © 2008-2015 <a href="http://ushahidi.com/privacy">Privacy Policy</a>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ushahidi.github.io/platform-pattern-library/assets/js/app.js"></script>
<script src="http://ushahidi.github.io/dotcom-pattern-library/assets/js/app.js"></script>