<h1 class="visually-hidden">Main Section</h1>
	<header id="header-region"><div><header role="banner">
	<nav role="navigation" class="top-bar  js-show-with-full-map" data-options="is_hover:false">
		<ul class="title-area">
			<!-- retina ready logo is a css background image -->
			<li class="name">
				<a href="{{ site.baseurl }}"><i class="site-logo"></i><span class="site-title">Ushahidi Guide</span></a>
			</li> <!-- end .name -->
		</ul> <!-- end .title-area -->

		<section class="top-bar-section  ">
			<div class="visually-hidden">Main Navigation</div>
			<!-- Left Nav Section -->
			<ul class="left  left-list">
				<li class="divider"></li>
				<li class="left-list__item  js-views-menu-link"><a href="{{ site.baseurl }}guide.html"><span>Guide</span></a></li>
				<li class="divider"></li>
				
				<li class="left-list__item  js-sets-menu-link"><a href="{{ site.baseurl }}toolkit.html"><span>Toolkit</span></a></li>
				<li class="divider"></li>

				<li class="left-list__item  js-sets-menu-link"><a href="{{ site.baseurl }}quickstart.html"><span>Quickstart</span></a></li>
				<li class="divider"></li>				

			</ul> <!-- end .left -->

			<!-- Right Nav Section -->
			<ul class="right  right-list">
				
				<li class="right-list__item  create-post"><a id="create-post-button" class="create-post-button js-create-post" href="http://prose.io"> <span>edit in prose.io</span></a></li>
							
			</ul> <!-- end .right -->
		</section> <!-- end .top-bar-section -->
	</nav> <!-- end .navigation -->
</header> <!-- end .banner -->


</div></header>


