<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Ushahidi Platform v3.X Docs</title>
	<meta name="description" content="User documentation for best practices and tools for v3.X of the Ushahidi platform.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Leaflet CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}css/leaflet/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/leaflet/L.Control.Locate.css"/>
	<!--[if lte IE 8]>
		<link rel="stylesheet" type="text/css" href="/ushahidi3/httpdocs/css/leaflet/L.Control.Locate.ie.css"/>
	<![endif]-->
	<link rel="stylesheet" href="{{ site.baseurl }}css/leaflet/MarkerCluster.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}css/leaflet/MarkerCluster.Default.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}css/select2/select2.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/kohana/style.css"/>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/guide.css"/>

	<!-- Global site config -->
	<!-- add javascript as needed -->
	<!-- end global site config -->

	<!--Change to Init.min.js below for production-->
	<!-- add javascript as needed -->

	<!-- Google Font -->
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
</head>
