<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->

  {% include head.html %}

<body class="docs">

    <header class="masthead">
        <h1 class="logo"><a href="http://ushahidi.com">Ushahidi</a></h1>

        <nav class="masthead-menu">
            <ul>
                <li><a href="http://ushahidi.com/features">Features</a></li>
                <!--<li><a href="">Plans</a></li>-->
                <li><a href="http://ushahidi.com/about">About</a></li>
                <li class="active"><a href="">Support</a></li>
                <li class="tuck"><a href="http://ushahidi.com/blog">Blog</a></li>
                <li class="tuck"><a href="http://ushahidi.com/other-products">Other Products</a></li>
                <li class="tuck"><a href="http://ushahidi.com/solutions">Solutions</a></li>
                <li class="tuck"><a href="http://ushahidi.com/contact">Contact</a></li>
                <li class="persist cta"><a href="https://github.com/ushahidi/platform">Download Code</a></li>
            </ul>
        </nav>
    </header>

    <header class="header header-basic">
        <div class="container">
                <div class="nav-icon nav-icon-js">
                    <span></span> 
                    <span></span>
                    <span></span> 
                </div>
                <h1 class="alt">{{site.title}}</h1>
                <p class="header-description">{{site.description}}</p>
        </div>
    </header>


    <div class="wrapper">

        <nav class="navigation" role="navigation">
            <div class="nav-icon nav-icon-js open">
                <span></span> 
                <span></span>
                <span></span>
            </div>
            <ul class="main-nav">
                {% assign pages = (site.pages | sort: "weight" | where: "categories", "top" | where: "hideFromMenu", false) %}
                {% for p in pages %}
                    <li>
                        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
                            {{ p.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>


        <main class="page-content has-aside">

            <div class="main-col">

				{{ content }}

            </div><!--end main col-->

        </main> <!--end layout a-->

    </div>


    {% include footer.html %}


</body>

</html>
