<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

  {% include head.html %}

    <body>
	<div class="app-layout">
		<div class="content-wrapper js-content-wrapper">

    {% include header.html %}

	<section id="main-region" role="main"><div><div class="row">
		
		{% include actionsbar.html %}

		<!-- left sidebar -->
		<div class="list-view-wrapper">
			<aside class="attribute-sidebar">
				{% include menu_leftsidebar.html %}
			</aside>

			<!-- form -->
			<div class="form-attributes">
				{{content}}
			</div>
			

		</div><!-- end list-view-wrapper -->

	</div> <!-- end .row -->
	</div></section>

    {% include footer.html %}

	</div>
	</div><!-- end app layout -->
    </body>
</html>