<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Ushahidi v3 Documentation</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/ico" href="../../assets/favicon.ico" />

    <link href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic,900italic' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="alternate stylesheet" type="text/css" title="rtl" href="../../css/rtl-style.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
</head>


<body class="has-fixed-bottom">

    <header class="header header-full overlay">
    <div class="container">
        <div class="parallax">
            <div class="nav-icon nav-icon-js">
                <span></span>
                <span></span>
                <span></span>
            </div>
        <h1 class="beta">Ushahidi Documentation</h1>
        <p class="header-description">New Guide to version 3</p>


    </div>
    <div class="hero-image">
        <img src="../../img/header-bk.jpg" alt="" />
    </div>
</header>

    
    <div class="wrapper has-full-header">

        <div class="navigation">
    <div class="nav-icon nav-icon-js open">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul class="main-nav">
        <li><a href="home-map.html">Home</a></li>
        <li><a href="layout-a.html">About</a></li>
		<li><a href="activity.html">Introduction</a></li>
		<li><a href="activity.html">1. </a></li>
		<li><a href="activity.html">2. </a></li>
		<li><a href="activity.html">3. </a></li>
		<li><a href="activity.html">4. </a></li>
		<li><a href="activity.html">5. </a></li>
		<li><a href="activity.html">6. </a></li>
		<li><a href="activity.html">7. </a></li>
		<li><a href="activity.html">8. </a></li>
		<li><a href="activity.html">9. </a></li>
        <li></li>
    </ul>

</div>


        <div class="page-content">
        
            <div class="main-col">
                
                <h1 class="inline">{{ page.title }}</h1>
                <h6>
                    {{ page.description }}
                </h6>

				{{ content }}

            </div><!--end main col-->

        </div> <!--end layout a-->

    </div>


</body>

</html>
